<f:layout name="Default"/>

<f:section name="main">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="c-gallery__title">{title}</h2>

			<f:comment>TODO: Reintroduce this feature? There is no description in file_collections</f:comment>
			<f:if condition="{settings.list.showDescription} && {item.description}">
				<span class="c-gallery__description">
					{item.description}
				</span>
			</f:if>

			<f:if condition="{settings.list.showCount}">
				<span class="c-gallery__count">
					<f:translate key="elemente" arguments="{1: itemCount}"/>
				</span>
			</f:if>
		</div>

		<f:for each="{items}" as="item">
			<f:switch expression="{item.properties.type}">
				<f:case value="2">
					<f:render partial="Image" arguments="{item: item, settings: settings}"/>
				</f:case>
				<f:case value="4">
					<f:render partial="Video" arguments="{item: item, settings: settings}"/>
				</f:case>
			</f:switch>
		</f:for>

		<f:if condition="{collectionCount} > 1">
			<div class="col-sm-12 c-gallery__backlink-wrap">
				<f:link.action action="default" class="c-gallery__backlink">
					<f:translate key="back-link"/>
				</f:link.action>
			</div>
		</f:if>
	</div>
</f:section>
