<f:layout name="Default"/>

<f:section name="main">
	<div class="row">
		<div class="col-sm-12">
			<f:if condition="{settings.overview.showCount}">
				<span class="c-gallery__count">
					<f:if condition="{items -> f:count()} > 1">
						<f:then>
							<f:translate key="alben" arguments="{1: '{items -> f:count()}'}"/>
						</f:then>
						<f:else>
							<f:translate key="album" arguments="{1: '{items -> f:count()}'}"/>
						</f:else>
					</f:if>
				</span>
			</f:if>
		</div>

		<f:for each="{items}" as="item">
			<f:debug>{item}</f:debug>
			<div class="col-sm-12 col-md-6 col-lg-3">
				<figure class="c-gallery__figure figure">
					<f:link.action arguments="{show : item.identifier}" action="list" class="c-gallery__list-link">
						<f:image image="{item.preview}" class="c-gallery__image figure-img img-fluid"
						         width="{settings.images.width}"
						         height="{settings.images.height}" maxWidth="{settings.images.maxWidth}"
						         maxHeight="{settings.images.maxHeight}"/>
					</f:link.action>

					<figcaption class="c-gallery__figure-caption figure-caption">
						<f:link.action arguments="{show : item.identifier}" action="list" class="c-gallery__list-link">
							{item.title}
						</f:link.action>
					</figcaption>
				</figure>
			</div>
		</f:for>
	</div>
</f:section>