<figure class="c-gallery__figure figure col-sm-12 col-md-6 col-lg-3" role="group"
		aria-labelledby="bmimagegallery-caption-{item.identifier}">
	<a class="{f:if(condition:settings.lightbox.cssClass, then:settings.lightbox.cssClass, else:'c-gallery__link c-gallery__link--vimeo')}"
	   rel="{f:if(condition:settings.lightbox.relAttribute, then:settings.lightbox.relAttribute, else:'article-gallery')}"
	   data-title="{item.properties.title}" data-description="{item.properties.description}"
	   data-copyright="{item.properties.assets_copyright}" title="{item.properties.title}"
	   href="https://vimeo.com/{item.contents}?{f:if(condition: '{settings.videos.vimeo.params}', then: settings.videos.vimeo.params, else: 'color=f00')}">
		<f:image image="{item}" class="c-gallery__image c-gallery__image--vimeo figure-img img-fluid"
				 width="{settings.images.width}" height="{settings.images.height}" maxWidth="{settings.images.maxWidth}"
				 maxHeight="{settings.images.maxHeight}" alt="{item.description}"/>
	</a>
	<f:render partial="Caption" arguments="{caption: item.properties.title, identifier: item.identifier}"/>
</figure>
