<div class="row">
	<div class="col-sm-12">
		<h2 class="c-gallery__title">{fileCollection.title}</h2>

		<f:if condition="{settings.list.showDescription} && {fileCollection.description}">
				<span class="c-gallery__description">
					{fileCollection.description -> f:format.html(parseFuncTSPath:'lib.parseFunc_RTE')}
				</span>
		</f:if>

		<f:if condition="{settings.list.showCount}">
				<span class="c-gallery__count">
					<f:translate key="elemente" arguments="{1: '{fileCollection.itemCount}'}"/>
				</span>
		</f:if>
	</div>

	<f:for each="{items}" as="item">
		<f:switch expression="{item.properties.type}">
			<f:case value="2">
				<f:render partial="Image" arguments="{item: item, settings: settings}"/>
			</f:case>
			<f:case value="4">
				<f:render partial="Video" arguments="{item: item, settings: settings}"/>
			</f:case>
		</f:switch>
	</f:for>
</div>