<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<figure class="c-gallery__figure figure col-sm-12 col-md-6 col-lg-3" role="group"
		aria-labelledby="bmimagegallery-caption-{item.uid}">
	<a class="{f:if(condition:settings.lightbox.cssClass, then:settings.lightbox.cssClass, else:'c-gallery__link')}"
	   rel="{f:if(condition:settings.lightbox.relAttribute, then:settings.lightbox.relAttribute, else:'article-gallery')}"
	   title="{item.properties.title}" href="{f:uri.image(image: item)}" data-url="{f:uri.image(image: item)}"
	   data-title="{item.properties.title}" data-description="{item.properties.description}"
	   data-copyright="{item.properties.assets_copyright}"
	   data-size="{item.properties.size -> f:format.bytes(decimals: '1', decimalSeparator: '{f:translate(key:\'decimalSeparator\')}')}">
		<f:image image="{item}" class="c-gallery__image figure-img img-fluid" width="{settings.images.width}"
				 height="{settings.images.height}" maxWidth="{settings.images.maxWidth}" maxHeight="{settings.images.maxHeight}"
				 alt="{item.description}"/>
	</a>
	<f:render partial="Caption" arguments="{caption: item.properties.title, identifier: item.uid}"/>
</figure>

</html>
