<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
	<div class="row">
		<div class="col-sm-12">
			<f:if condition="{settings.list.showCount}">
				<span class="c-gallery__count">
					<f:if condition="{collectionInfos -> f:count()} > 1">
						<f:then>
							<f:translate key="alben" arguments="{1: '{collectionInfos -> f:count()}'}"/>
						</f:then>
						<f:else>
							<f:translate key="album" arguments="{1: '{collectionInfos -> f:count()}'}"/>
						</f:else>
					</f:if>
				</span>
			</f:if>
		</div>

		<f:for each="{collectionInfos}" as="item">
			<div class="col-sm-12 col-md-6 col-lg-3">
				<figure class="c-gallery__figure figure" role="group" aria-labelledby="bmimagegallery-caption-{item.identifier}">
					<f:switch expression="{settings.mode}">
						<f:case value="1">
							<f:render section="externalPage" arguments="{_all}"/>
						</f:case>
						<f:case value="2">
							<f:render section="noLink" arguments="{_all}"/>
						</f:case>
						<f:defaultCase>
							<f:render section="samePage" arguments="{_all}"/>
						</f:defaultCase>
					</f:switch>
				</figure>
			</div>
		</f:for>
	</div>
</f:section>


<f:section name="samePage">
	<f:link.action arguments="{show : item.identifier}" action="detail" class="c-gallery__list-link">
		<f:image image="{item.previewImage}" class="c-gallery__image figure-img img-fluid"
		         width="{settings.images.width}"
		         height="{settings.images.height}" maxWidth="{settings.images.maxWidth}"
		         maxHeight="{settings.images.maxHeight}"/>
	</f:link.action>

	<figcaption class="c-gallery__figure-caption figure-caption" id="bmimagegallery-caption-{item.identifier}">
		<f:link.action arguments="{show : item.identifier}" action="detail" class="c-gallery__list-link">
			{item.title}
		</f:link.action>
	</figcaption>
</f:section>

<f:section name="externalPage">
	<f:link.action arguments="{show : item.identifier}" action="detail" class="c-gallery__list-link"
				   pageUid="{settings.galleryPage}" title="{item.title}">
		<f:image image="{item.previewImage}" class="c-gallery__image figure-img img-fluid"
		         width="{settings.images.width}"
		         height="{settings.images.height}" maxWidth="{settings.images.maxWidth}"
		         maxHeight="{settings.images.maxHeight}"/>
	</f:link.action>

	<figcaption class="c-gallery__figure-caption figure-caption" id="bmimagegallery-caption-{item.identifier}">
		<f:link.action arguments="{show : item.identifier}" action="detail" class="c-gallery__list-link"
					   pageUid="{settings.galleryPage}" title="{item.title}">
			{item.title}
		</f:link.action>
	</figcaption>
</f:section>

<f:section name="noLink">
	<f:image image="{item.previewImage}" class="c-gallery__image figure-img img-fluid" width="{settings.images.width}"
	         height="{settings.images.height}" maxWidth="{settings.images.maxWidth}"
	         maxHeight="{settings.images.maxHeight}"/>

	<figcaption class="c-gallery__figure-caption figure-caption" id="bmimagegallery-caption-{item.identifier}">
		{item.title}
	</figcaption>
</f:section>

</html>
